.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 80%;
}

.img {
    width: 120px;
    margin-bottom: 0.5rem;
}

.login {
    width: 500px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_id {
    width: 90%;
    height: 40px;
    border: 1px solid rgb(177,171,171);
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;
    font-size: 18px;
    padding-left: 10px;
}

.input_id:focus {
    border: 2px solid orange;
    outline: orange;
}

.input_id::placeholder {
    color: rgb(208, 208, 208);
}

.login_btn {
    width: 90%;
    height: 45px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background-color: orange;
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

.p {
    font-size: 14px;
}

.span {
    color: orange;
    cursor: pointer;
}